// Import page-specific CSS files here.
@import "home";
@import "show-recipe";
@import "new-recipe";
@import "show-user";

.title {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.filters {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-end;


}

.info-card {
  justify-content: left;
  h2 {
    font-size:20px;
    padding:10px;
  }
  p {
    padding:10px;
  }
}

.recipe-card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

@media(max-width: 992px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card-container  {
    grid-template-columns: 1fr;
  }
}

#country {
  height: 100vh;
  width: 50%;
  position: sticky;
  top: 64px;
  /* display: flex; */
  /* justify-content: center; */
  img {
    width: 300px;
  }
}

.heart {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 80px;
  background: green;
  background: -moz-linear-gradient(-32deg, #ffa783 50%, white 50%);
  background: -webkit-linear-gradient(-32deg, #ffa783 50%, white 50%);
  background: linear-gradient(-32deg, #ffa783 50%, white 50%);
}

.heart-container {
  position: relative;
  height:100%;

}


.heart-icon {
  position: absolute;
  bottom: 7px;
  right: 9px;
  color: white;
  font-size: 20px;
}

.short-description {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .filter-button-container{

  text-align:center;
}
 */
