// Import page-specific CSS files here.
@import "home";

.title {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.filters {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;

}

.info-card {
  justify-content: left;
}

.recipe-card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

@media(max-width: 992px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card-container  {
    grid-template-columns: 1fr;
  }
}

#country {
  height: 100vh;
  position: sticky;
  top: 0;
}
