.main-recipe-container, .recipe-info-container {
  display: flex;
  // justify-content: center;
}

.container-left {
  margin: 60px;
}
.recipe-info-container {
  margin-top: 60px;
  flex-direction: column;
  // margin-left:
}

.ingredient-main-container {
  background: $main-color;
  opacity: 0.5;
  width: 350px;
  padding: 24px;
  // height: 100%;
}

// .ingredient-container, .time-info {
//   margin: 0 15px;
// }

.method {
  margin: 0 20px;
  padding: 24px;
}

.recipe-box {
  height: 100%;
}


