.main-recipe-container, .recipe-info-container, .ingredient-main-container {
  display: flex;
  // justify-content: center;
}

.wrap-ingredients{
  margin-bottom: 30px;
}

.container-left {
  margin: 60px 40px;
  width: 40%;
   img {
    border-radius: 4px;
   }
}
.recipe-info-container {
  margin-top: 60px;
  margin-right: 60px;
}

.ingredient-main-container {
  // flex-shrink: 0;
  // width: 30%;
  flex-direction: column;
  width: 280px;
  padding: 24px;
   p {
    padding-right: 8px;
   }

   a {
    color: white;
   }
}

.method {
  // margin: 0 20px;
  padding: 0 24px;
  width: 70%;
  overflow: scroll;
  line-height: 2rem;

}

.recipe-box {
  height: 70%;
  overflow: scroll;
  background: $main-color;
  opacity: 0.6;
}





