<div class="main-container">
  <div class="make-recipe">
    <div class="row justify-content-center">
      <!-- <div class="food-picture"> -->
        <div class="food-icons-left">
          <%= image_tag "Group-5.svg" %>
        </div>
 <!--      </div> -->
      <div class=" recipe-form-container justify-content-center">
        <h1>CREATE YOUR RECIPE</h1>
        <div class="recipe-form">
          <%= render 'recipes/form', ingredients_matches_amounts: @ingredients_matches_amounts %>
        </div>
      </div>
      <div class="food-icons-rigth">
        <%= image_tag "Group-5.svg" %>
      </div>
    </div>
  </div>
</div>
