<div class="main-container">
  <div class="make-recipe">
    <div class="row justify-content-center">
      <div class="food-picture">
        <%= image_tag "create1.png" %>
      </div>
      <div class="col-6 justify-content-center">
        <h1>CREATE YOUR RECIPE</h1>
        <div class="recipe-form">
          <%= render 'recipes/form', ingredients_matches_amounts: @ingredients_matches_amounts %>

          <div id="return-home">
            <%= link_to "Back to your profile", user_path(current_user) %>
          </div>
        </div>
      </div>
      <div class="food-picture">
        <%= image_tag "create2.png" %>
      </div>
    </div>
  </div>
</div>
