<div class="main-container">
  <p><%= @recipe.name %></p>
  <% @recipe.quantities.each do |quantity|%>
    <p><%= quantity.description %></p>
    <p><%= quantity.ingredient.name %></p>
  <% end %>
</div>
<li><%= link_to 'Go back to all recipes', recipes_path %></li>
