<h1>User Profile</h1>

<h3>User description</h3>

<%= link_to "Create a new Recipe", new_recipe_path  %>

<h1>My recipes</h1>


<h3>Updated Recipes</h3>
<% @recipes.each do |recipe|%>
  <div>
   <%= recipe.name %>
  </div>
<% end %>

