<div class="main-container">
  <div class="sub-container" id="title">
    <h1> LEGIT KITCHEN </h1>
    <p> Authentic recipes by people from around the world </p>
  </div>
  <div class="sub-container" id="call-to-action">
    <h2> CLICK ON THE MAP TO FIND A RECIPE </h2>
  </div>
  <div class="sub-container" id="map">
    <%= image_tag "map.svg" %>
  </div>
</div>
