<div class="main-container">
  <div class="sub-container" id="title">
    <h1> LEGIT KITCHEN </h1>
    <p> Authentic recipes by people from around the world </p>
  </div>
  <div class="sub-container" id="call-to-action">
    <h2> CLICK ON THE MAP TO FIND A RECIPE </h2>
  </div>
  <div class="sub-container" id="map">
    <div id="vmap" style="width: 600px; height: 400px;"></div>
  </div>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">

var options = {
    map: 'world_en',
    backgroundColor: 'white',
    borderColor: 'white',
    borderOpacity: 0.25,
    borderWidth: 1,
    color: '#4E97BB',
    enableZoom: true,
    hoverColor: '#FFA783',
    hoverOpacity: null,
    normalizeFunction: 'linear',
    scaleColors: ['#b6d6ff', '#005ace'],
    selectedColor: '#FFA783',
    selectedRegions: null,
    showTooltip: true,
    onRegionClick: function(element, code, region)
    {
      var newPath = "localhost:3000" + "/countries";
    }
}

jQuery(document).ready(function() {
  jQuery('#vmap').vectorMap(options);
});
</script>
