<div class="main-container" id="country-index-main">
  <div class="sub-container" id="country-index">
    <div class="country-container">
      <% @countries.each do |country| %>
        <ul> <%= link_to country.name, country_path(country) %> </ul>
      <% end %>
    </div>
  </div>
</div>
