
.btn-filter {
  color: white;
  // padding: 5px 30px;
  // border-radius: 8px;
  // font-weight: lighter;
  // opacity: 0.6;
  text-decoration:none;
  margin: 0 80px;
   &:hover {
    text-decoration: none;
   }
}

.lg-button {
  color: #ffa783;
  border: 1px solid white;
  border-radius: 4px;
}

.link {
  color: $main-color;
  &:hover{
    color: $main-color;
  }
}

.login-btn {
  padding: 8px;
  &:hover {
    color: white;
  }
}
