
.btn-filter {

  color: #999999;
  border: 1px solid #999999;
  border-color: #92a8d1;
  padding: 5px 30px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.6;
  text-decoration:none;
  margin: 20px;

}

.btn-filter:hover{
  /* background-color:#ffa783; */
  text-decoration: none;
}

.lg-button {
  color: #ffa783;
  border: 1px solid white;
  border-radius: 4px;
}


