.main-container {
  justify-content: center;
}

.sub-container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap:70px;
  margin-left: 50px;
}

.recipe-card {
  position: relative;
  width: 100%;
  height: 350px;
  /* margin: 20px; */
  box-shadow: 4px 2px 41px -9px rgba(171,168,171,0.86);
  border-radius: 4px;
  /* margin-bottom: 20px; */
}

// .main-container-r-index {
//  display: flex;
//  justify-content: center;
// }

.container-flex{
  display: flex;
  justify-content: center;
}
