.sub-container, .card-container {
  display: flex;

}
.main-container, .sub-container, .card-container {
  justify-content: center;
}

.main-container-index {
  padding-left: 30px;
  padding-right: 30px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap:70px;
  margin: 0 40px;
}

.recipe-card {
  position: relative;
  width: 100%;
  height: 250px;
  box-shadow: 4px 2px 41px -9px rgba(171,168,171,0.86);
  border-radius: 20px;
}

.recipe-card-show {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
  box-shadow: 4px 2px 41px -9px rgba(171,168,171,0.86);
  border-radius: 4px;
  margin-bottom: 20px;

}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  background-color: $main-color;
  opacity: 0.6;
  // padding-top: 8px;
  height: 55px;
  // padding-bottom: 4px;
}

.filters-container-country-show {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  background-color: $main-color;
  opacity: 0.6;
  // padding-top: 8px;
  // padding-bottom: 4px;
  flex-direction: column;

}
.country-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap:20px;
  margin: 0 150px;
}

