.login-container {
  display: flex;
  // text-align: center
  // align-items: center;
  justify-content: center;
}

.col-login {
  margin-top: 90px;
  // margin-left: 50px;
  // margin-right: 50px;
  background: white;
  border-radius: 4px;
  height: 500px;
  width: 800px;
  box-shadow: 4px 2px 41px -9px rgba(171,168,171,0.86);
  // padding-top: 30px;
  // text-align: center;
  // flex: 0 0 25% !important;
  // display: inline-block;
}

// .links {
//   margin-top: 30px;
// }

#login .btn {
  width: 100%;
  padding: 2px 4px;
  color: white;
  border-radius: 4px;
  background: #ffa783;
}

.food-picture2 {
  padding-right: 20px;
}

.food-picture1 {
  padding-right: 20px;
}
// .links {
  // padding: 24px 4px;
// }

.login-form {
  padding: 30px;
  h2 {
    text-align: center;
    padding-top: 20px;
    //   font-style: bolder;
  }
}

.sign-up {
  padding-left: 10px;
}
