.navbar-lewagon {
  justify-content: space-between;
  background: white;
  background: #FFA783;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .navbar {
//   overflow: hidden;
//   height: 64px;
//   justify-content: space-between;
//   background: #FFA783;
// }

// .navbar .navbar-logo img {
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
// }

// .nav-items {
//   margin-right: 300px;
//   display: flex;
//   align-items: center;
//   font-size: 20px;
// }

// .item {
//   display: flex;
// }

.link-item {
  color: white;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: $light;
  margin: 0 16px;
    &:hover {
      color: $light;
    }
}

.search-bar {
  align: right;
  margin-top: 3px;
  margin-left: 300px;
}

.search-bar input {
  color: white !important;
  width: 135px;
  -webkit-appearance: none;
  border-width: 0px;
  &:focus {
    outline: none;
  }
}

::placeholder {
  color: white;
}

.search {
  color: white !important;
  background-color: #FFA783;
}

button {
  background-color: #FFA783;
  border-style: none;
}

.search-button {
  background-color: #FFA783;
  -webkit-appearance: none;
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
// .avatar-dropdown{
// position:relative;

//

// .d-none{
//   position:absolute;
// }

// .box{
//   width:50px;
//   height: 50px;
// }

// navbar dropdown menu customized
.space-avatar {
  padding-left: 70px;

}

.dropdown-item {
  color: $secondary-color;

}

.nav-dropdown-box {

  width:10px;
  height:80px;


}
