.navbar {
  height: 72px;
  justify-content: space-between;
  background: #FFA783;
}

.navbar .navbar-logo img {
  width: 40px;
}

.nav-items {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.item {
  display: flex;
}

.link-item {
  color: white;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: $light;
  margin: 0 16px;
    &:hover {
      color: $light;
    }
}
